<div class="container" th:fragment="newHouseholdForm (newHousehold, possibleParticipants)">
    <form class="row g-3" method="post" th:object="${newHousehold}">
        <div class="col-12 col-lg-4">
            <label class="form-label" for="inputName">Name</label>
            <input class="form-control" id="inputName" name="name" th:field="*{name}" type="text">
            <p class="text-danger" th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div class="col-12 col-lg-4 col-md-6">
            <label class="form-label" for="inputParticipants">Participants</label>
            <select class="form-control" id="inputParticipants" multiple name="participantIds"
                    th:field="*{participantIds}">
                <option th:each="participant : ${possibleParticipants}" th:inline="text"
                        th:text="${participant.name}" th:value="${participant.id}"></option>
            </select>
            <p class="text-danger" th:errors="*{participantIds}"
               th:if="${#fields.hasErrors('participantIds')}"></p>
        </div>
        <input name="ownerId" th:value="*{ownerId}" type="hidden">
        <div class="col-auto col-lg mx-auto">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
    <script type="text/javascript">
        const choices = new Choices('#inputParticipants', {
            removeItemButton: true,
            allowHTML: false,
        });
    </script>
</div>