<nav class="navbar navbar-expand-lg" th:fragment="navbar (activeTab)">
    <div class="container-fluid">
        <button aria-controls="offcanvasNavbar" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#offcanvasNavbar"
                data-bs-toggle="offcanvas" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div aria-labelledby="offcanvasNavbarLabel" class="offcanvas offcanvas-start" data-bs-hideresize="true"
             id="offcanvasNavbar"
             tabindex="-1">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Financer</h5>
                <button aria-label="Close" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        type="button"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:aria-current="${activeTab == 'home' ? 'page' : ''}"
                           th:classappend="${activeTab == 'home' ? 'active':''}"
                           th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:aria-current="${activeTab == 'dashboard' ? 'page' : ''}"
                           th:classappend="${activeTab == 'dashboard' ? 'active':''}"
                           th:href="@{/dashboard}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="btn btn-secondary" id="themeToggleButton">
                        <i class="fa-solid fa-circle-half-stroke fa-flip-horizontal" id="themeToggleDisplayIcon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var darkTheme = false;
        $(document).ready( function() {
            darkTheme = document.documentElement.getAttribute("data-bs-theme") == "dark";
            $('#themeToggleButton').click(function(){
                console.log("Test success");
                darkTheme = !darkTheme;
                document.documentElement.setAttribute("data-bs-theme", darkTheme ? "dark" : "");
                var icon = $('#themeToggleDisplayIcon')[0];
                icon.classList.remove("fa-flip-horizontal");
                if (darkTheme) {
                    icon.classList.add("fa-flip-horizontal");
                }
            });
        });
    </script>
</nav>
