<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
    <title>Dashboard</title>
    <!--    <style>-->
    <!--        table {-->
    <!--          font-family: arial, sans-serif;-->
    <!--          border-collapse: collapse;-->
    <!--          width: 60%;-->
    <!--        }-->

    <!--        td, th {-->
    <!--          border: 1px solid #bbbbbb;-->
    <!--          text-align: left;-->
    <!--          padding: 8px;-->
    <!--        }-->

    <!--        tr:nth-child(even) {-->
    <!--          background-color: #dddddd;-->
    <!--        }-->
    <!--    </style>-->
</head>
<div layout:fragment="navbar">
    <div th:replace="~{fragments/navigation-fragment.html :: navbar (activeTab = dashboard)}"></div>
</div>
<body layout:fragment="content">
<h2>Transactions</h2>
<!--Only visible on small screens: -->
<div class="row" th:if="${selectedHouseholdId != null && !selectedHouseholdId.isEmpty()}">
    <div class="col-12">
        <p th:text="|Only showing transactions for household with id ${selectedHouseholdId}|"></p>
    </div>
    <div class="col12">
        <a th:href="@{/dashboard}">Show all</a>
    </div>
</div>
<div class="d-inline d-md-none">
    <div th:if="${transactions.isEmpty()}" class="mb-3">
        <div class="text-muted">No transactions added yet.</div>
    </div>
    <div class="card mb-2 mt-2" th:each="transaction: ${transactions}" th:style="|--bs-card-border-color: ${transaction.category.getCssColor()}|">
        <!--        <h5 class="card-header" th:text="${transaction.category.description}"></h5>-->
        <div class="card-body">
            <div class="row g-3">
                <div class="col-1">
                    <i class="bi bi-circle"></i>
                    <i th:class="|h1 fa-solid ${transaction.category.icon.cssClass}|" th:style="|color: ${transaction.category.getCssColor()}|"></i>
                </div>
                <div class="col-8">
                    <h5 class="card-title" th:text="${transaction.category.description}"></h5>
                    <p class="card-text fst-italic" th:text="${transaction.description}"></p>
                </div>
                <div class="col-3 text-end">
                    <p class="card-title" th:text="${transaction.getFormattedAmount()}"></p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-6 text-start"
                     th:text="${#temporals.format(transaction.transactionDate, 'dd.MM.yy')}"></div>
                <div class="col-6 text-end" th:text="|Payed by ${transaction.payer.name}|"></div>
            </div>
        </div>
    </div>
</div>
<!--Only visible on large screens: -->
<div class="d-none d-lg-inline">
    <table class="table table-striped" id="transactions">
        <!--    <caption>Transactions</caption>-->
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Household</th>
            <th scope="col">Payed by</th>
            <th scope="col">Created by</th>
            <th scope="col" data-dt-order="disable"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.id}">ID</td>
            <td th:text="${#temporals.format(transaction.transactionDate, 'dd.MM.yy')}">Transaction Date</td>
            <td th:text="${transaction.getFormattedAmount()}">Amount</td>
            <td th:text="${transaction.description}">Description</td>
            <td th:text="${transaction.category.description}">Category</td>
            <td th:text="${transaction.household.name}">Household</td>
            <td th:text="${transaction.payer.name}">Payer</td>
            <td th:text="${transaction.owner.name}">Creator</td>
            <td>
                <div class="row">
                    <a class="col-auto btn btn-primary btn-sm" th:href="@{/dashboard?editTransactionId={id}(id = ${transaction.id})}"><i class="fa-solid fa-pen"></i></a>
                    <form class="col-auto" th:action="@{/dashboard/delete/{id}(id = ${transaction.id})}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="newTransactionModal" tabindex="-1" aria-labelledby="createTransactionModalLabel" th:aria-hidden="${#fields.hasErrors('${newTransaction.*}') ? 'true' : 'false'}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createTransactionModalLabel">Create Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:replace="~{fragments/create-transaction-fragment.html :: newTransactionForm (newTransaction = ${newTransaction}, categories = ${categories}, households = ${households}, possiblePayers = ${possiblePayers})}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label th:replace="~{fragments/create-transaction-fragment.html :: newTransactionFormSubmitButton}"></label>
<!--                <button type="submit" class="btn btn-primary">Create</button>-->
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTransactionModal">Create transaction</button>

<div th:if="${editTransaction != null}" class="modal fade" id="editTransaction" tabindex="-1" th:aria-labelledby="editTransactionLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" th:id="editTransactionLabel">Create Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div th:replace="~{fragments/edit-transaction-fragment.html :: editTransactionForm (editTransaction = ${editTransaction}, categories = ${categories}, households = ${households}, possiblePayers = ${possiblePayers})}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label th:replace="~{fragments/edit-transaction-fragment.html :: editTransactionFormSubmitButton}"></label>
                <!--                <button type="submit" class="btn btn-primary">Create</button>-->
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" th:inline="javascript">
    $(document).ready( function () {
        if ([[${#fields.hasErrors('${newTransaction.*}')}]]) $('#newTransactionModal').modal('show');
        if ([[${editTransaction != null}]]) $('#editTransaction').modal('show');
        DataTable.type('date', 'className', ' ');
        let table = new DataTable("#transactions", {
            fixedHeader: true,
            order: [ [1, 'dec'] ],
            columnDefs: [{
                target: 0,
                visible: false,
                searchable: false
            }]
        });
        // let dts = document.querySelectorAll('.date-picker');
        // dts.forEach(function (dt) {
        //     console.log('[[${#temporals.format(timestamp.plusDays(1), "yyyy-MM-dd")}]]');
        //     let d = new DateTime(dt, {
        //         format: 'DD/MM/YYYY',
        //         buttons: {
        //             today: true
        //         },
        //         maxDate: '[[${#temporals.format(timestamp.plusDays(1), "yyyy-MM-dd")}]]',
        //     });
        // });
        let d = new DateTime(document.getElementById('creation-date-picker'), {
            format: 'DD/MM/YYYY',
            buttons: {
                today: true
            },
            maxDate: '[[${#temporals.format(newTransaction.transactionDate.plusDays(1), "yyyy-MM-dd")}]]'
        });

        // $('#transactions').on( 'click', 'tbody tr', function () {
        //     tId = table.row( this ).data()[0];
        //     console.log("Showing modal " + tId + ".");
        //     // $('#editTransaction' + tId + 'Modal').modal('show');
        // });
    } );
</script>

</body>
</html>