<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
    <title th:text="${household.name}"></title>
    <link rel="stylesheet" th:href="@{/css/generated/custom-choices.css}">
    <!--    <link-->
    <!--            href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"-->
    <!--            rel="stylesheet"-->
    <!--    />-->
</head>
<div layout:fragment="navbar">
    <div th:replace="~{fragments/navigation-fragment.html :: navbar (activeTab = household)}"></div>
</div>
<body layout:fragment="content">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<h3 th:text="|Household ${household.name}"></h3>


</body>
</html>