<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
    <title>Home</title>
</head>
<div layout:fragment="navbar">
    <div th:replace="~{fragments/navigation-fragment.html :: navbar (activeTab = home)}"></div>
<!--    <div sec:authorize="isAuthenticated()" th:replace="~{fragments/navigation-fragment.html :: navbar (activeTab = home)}"></div>-->
</div>
<body layout:fragment="content">
<!--<div sec:authorize="hasRole('USER')">Text visible to user.</div>-->
<!--<div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>-->
<div sec:authorize="isAuthenticated()">
    <h3 th:text="|Welcome ${#authentication.name}|">Welcome message</h3>
    <p>This page will not be of much use to you.</p>
    <a th:href="@{/dashboard}">Go to Dashboard</a>
</div>
<div class="" sec:authorize="isAnonymous()">
    <h3>Welcome</h3>
    <p>You are currently not logged in. <br />
    Either log in or register a new account.</p>
    <a class="btn btn-primary" th:href="@{/login}">Login</a>
    <a class="btn btn-primary" th:href="@{/register}">Register</a>
</div>
</body>
</html>