<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <meta charset="UTF-8">

    <base th:href="@{/}">
    <!--    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">-->

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" th:href="@{/css/all.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/b-print-3.0.1/date-1.5.2/fc-5.0.0/fh-4.0.1/sl-2.0.0/datatables.min.css"
    rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/generated/custom-choices.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!--  Each token will be replaced by their respective titles in the resulting page. -->
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Financer</title>

</head>
<body>
<!-- Navbar -->
<!--<div class="d-flex flex-column" style="height: 100vh;">-->
<!--    <header class="sticky-top">-->
<!--        <div class="bg-primary">-->
<!--            <nav th:replace="~{grundbausteine/layout/navbar-fragment :: navbar}"></nav>-->
<!--        </div>-->
<!--        <div th:replace="~{grundbausteine/layout/submission-alert-fragment :: submission-alert}"></div>-->
<!--        <div th:replace="~{grundbausteine/layout/kleinauftrag-alert-fragment :: kleinauftrag-alert}"></div>-->
<!--    </header>-->
<!-- Needs to be above fragments for scripts to work -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.3/b-3.0.1/b-colvis-3.0.1/b-print-3.0.1/date-1.5.2/fc-5.0.0/fh-4.0.1/sl-2.0.0/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<!-- Content -->
<div layout:fragment="navbar"></div>
<div class="container py-3 pt-lg-4">
    <div layout:fragment="content"></div>
</div>

<script type="text/javascript">
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<!-- Footer -->
<!--    <footer th:replace="~{grundbausteine/layout/footer-fragment :: footer}"></footer>-->
<!--</div>-->
</body>
</html>
