<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
    <title>New Household</title>

</head>
<div layout:fragment="navbar">
    <div th:replace="~{fragments/navigation-fragment.html :: navbar (activeTab = household)}"></div>
</div>
<body layout:fragment="content">


<h3>Create new Household</h3>
<div th:replace="~{fragments/create-household-fragment.html :: newHouseholdForm (newHousehold = ${newHousehold}, possibleParticipants = ${possibleParticipants}, isModal = false)}"></div>

</body>
</html>