<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<head>
    <title>Register</title>
</head>
<body layout:fragment="content">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Registration and Login System</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /> <br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered our app!
                </div>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register}" th:object="${user}">
                    <div class="form-group mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input
                                class="form-control"
                                id="username"
                                name="username"
                                placeholder="Enter Username"
                                th:field="*{name}"
                                type="text"
                        />
                        <p class="text-danger" th:errors="*{name}"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                th:field="*{email}"
                                type="email"
                        />
                        <p class="text-danger" th:errors="*{email}"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                        />
                        <p class="text-danger" th:errors="*{password}"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Register</button>
                        <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>